@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ Book.otf);
    font-weight: 400; 
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ Black.otf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ ItalicBold.otf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/Gotham\ Ultra.otf);
    font-style:normal;
    font-weight: 900;
}

:root {
    font-size: 100%;
}

* {
    font-family: 'gotham','proxima-nova','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    /* border: 1px solid red; */
}


body {
    margin: 0;
}

/* HEADER CONTENT */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    text-align: center;
    
}

#logo {
    justify-content: flex-start;
}




/* MAIN BODY CONTENT */

.body {
    display: grid;
    grid-template-rows: 100vh 60vh auto 10vh;
    background-color: antiquewhite;
}


/* LANDING CONTENT */

.landing {
    padding-top: 3%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20%;
    gap: 1rem;
    max-height: 100%;
    max-width: 100%;
    background: url(../img/birch_tree.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

}

.primary-text-content {
    text-shadow:2px 2px white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.btn_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}

.btn {
    background-color: white;
    /* Order: Top Right Bottom Left */
    padding: 20px;
    letter-spacing: 5px;
    font-size: .9em;
    font-weight: 900;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    border: 1px solid black;
    transition: all ease-in-out .4s;
    min-width: 7.5vw;
    cursor: pointer;
}

.btn:hover {
    transition: all ease-in-out 0.3s;
    box-shadow: none;
    background-color: gray;
    color:white;
    transform:scale(0.96);    
}

.down {
    bottom: 0;
    max-height: 10%;
    position:absolute;
}

#name {
    font-size: 12rem;
    margin: 0;
}

#subname {
    font-size: 4rem;
    margin: 0;
}

#submail {
    font-size: 3rem;
    margin: 0;
}

/* About Me */
.aboutme {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: white;
    width: 100%;
    font-size: 40px;
}

.sub_aboutme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: wheat;
    border-radius: 20px;
    padding: 50px;
    width: 80%;
    min-width: 80%;
    gap: 30px;
    font-size: 18px;
    margin: auto;
    height: 70%;
}

.selfie {
    max-width: 30%;
    max-height: 120%;
    border-radius: 10%;
}












/* Work section */

.mywork {
    background-color: lightgrey;
    text-align: center;
    font-size: 40px;
}

.subwork {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    margin-top: 15px;
    text-align: center;
    /* height: 100vh; */
    padding: 15px;
}

.subwork_child {
    font-size: 20px;
    background-color: white;
    border-radius: 10%;
    transition:ease-in-out 0.3s;
    border: 2px solid black;
}

.second-img {
    width: 15vw;
    border: 3px solid white;
    border-radius: 10%;
    width: 325px;
}




.contacts {
    background-color: grey;
    text-align: center;
    font-weight: 900;
}

.body {
    width: 100%;
    height: 100vh;
    scroll-snap-type:y proximity;
    scroll-behavior:auto;
}

.section {
    scroll-snap-align: start;
}


.subwork_child:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition:ease-in-out 0.3s;
}

#h:hover {
    cursor: pointer;
}