@font-face {
    font-family: 'Roboto-Light' ;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/roboto/Roboto-Bold.ttf);

}

* {
    font-family: 'Roboto-Light';
    /* border: 1px solid red; */
    margin: 0px;
    list-style: none;
    text-decoration: none;
    color:inherit;
}




/* Header */
.header {
    /* Order: Top Right Bottom Left */
    padding: 1.5vh auto 1.5vh auto;
    background: white;
    white-space: nowrap;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.headerchild {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}


/* First Thing ppl see */
.body {
    display: flex;
    flex-flow: column nowrap;
}

.child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#alpha {
    display: flex;
    flex-flow: column;
    background-color:cornsilk;
    min-width: 500px;
    height: 100vh;
    max-height: 150vw;
    justify-content: center;
    align-items: center;
    background: url(../img/LakeLynnBG.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;

    color: white;
    text-shadow: 2px 2px black;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

#echo {
    flex-flow: row nowrap;
    margin-top: 15px;
    gap: 10rem;
}

/* Rest of page - Bottom two divs */

#beta {
    background-color: antiquewhite;
    flex: 1;
    padding: 0px;
    margin: 0px;
}

#ceta {
    background-color: green;
    flex: 1;
    min-height: 500px;
    min-width: 200px;
}

#delta {
    flex: 1;
    min-height: 500px;
    min-width: 200px;
}



h1 {
    font-size: 10vw;
    font-family: 'Roboto-Bold';
    /* background: url(../img/shaymin.jpg) repeat;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  */
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size:2vw;
}



/* Styling for third part */

.primary-sec-container {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    margin-top: 5vh;
    text-align: center;

}

.second-img {
    width: 15vw;
    border: 3px solid #3882F6;
    border-radius: 10%;
    width: 325px;
}

#whoami {
    font-size: 80px;
}

.subwhoami {
    font-size: 30px;
    width: 325px;
}


/* Styling for Who I am part */
.container-tres {
    display: flex;
    flex-flow: row nowrap;
    background-color: antiquewhite;
    width: 80%;
    font-size: 20px;
    padding: 50px;
    gap: 30px;
    border-radius: 3vw;
}


/* This button format was taken from https://enjeck.com/btns/ - I am not yet familiar enough w/ buttons to create this, sadly. */
.btn {
    font-family: Arial, Helvetica, sans-serif;  
    text-transform: uppercase;
    color: black;
}  
.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}  
.btn-shadow-drop {
    position: relative;
    margin-top: 10%;
    background: rgb(249, 250, 250);
    padding: 20px;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    left: 0px;
    top: 0px;
    width: 180px;
}  
.btn-shadow-drop:hover {
    left: 4px;
    top: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}  
.btn-shadow-drop--black {
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    box-shadow: rgb(51, 51, 51) 4px 4px 0px 0px;
}  