.grid_container {
    display: grid;
    justify-content: center;
    background-color: antiquewhite;
    border: 10px solid black;
    padding: 0;
    margin: auto;
    width: 650px;
    height: 650px;
    max-width: 650px;
    max-height: 650px;
}

.childdiv {
    background-color: white;
}



.childdiv-active {
    background-color: black;

}

.body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 15px;
    max-width: 650px;
    margin-bottom: 15px;
}